* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
}

body {
  font-family: Hellix;
  font-size: 16px;
  color: #111235;
}

button {
  display: block;
  width: 252px;
  height: 59px;
  margin: 30px auto 0;
  border-radius: 35px;
  border: none;
  background-color: #4B5092;
  font-size: 18px;
  letter-spacing: 1.2px;
  color: white;
}

h1 {
  padding: 16px 0;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1px;
  text-align: center;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1px;
}

header {
  background-color: white;
  box-shadow: 0 1px 20px 1px #ebebeb;
}

section {
  margin: 40px 0 80px;
}

section>img {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

section p {
  margin: 20px 0 0;
  line-height: 24px;
}

.content {
  padding: 50px 16px;
}

.emphasis {
  font-weight: 900;
  color: black;
}

#call-to-action .content h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}

#call-to-action .content p {
  text-align: center;
}

#loads .content {
  background-color: #F2F8FF;
}

#loads .content h3 {}