* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
}

body {
  font-family: Hellix;
  font-size: 16px;
  font-weight: 400;
  color: #111235;
}

button {
  display: block;
  width: 252px;
  height: 59px;
  margin: 30px auto 0;
  border-radius: 35px;
  border: none;
  background-color: #4B5092;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: white;
}

h1 {
  padding: 16px 0;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -1px;
  text-align: center;
}

h3 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1px;
}

h4 {
  margin: 0 0 30px;
  font-size: 18px;
  font-weight: 500;
}

header {
  background-color: white;
  box-shadow: 0 1px 20px 1px #ebebeb;
}

section {
  margin: 40px 0 80px;
}

section>img {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
}

p {
  line-height: 24px;
}

.content {
  padding: 50px 16px;
}

.emphasis {
  font-weight: 900;
  color: black;
}

#call-to-action .content h2 {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}

#call-to-action .content p {
  text-align: center;
}

#loads .content {
  background-color: #F2F8FF;
}

#trainer {
  text-align: center;
  background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
}

#trainer button {
  background-color: white;
  color: #436BAA;
}

#trainer h3 {
  font-weight: 700;
  letter-spacing: 0;
}

#trainer img {
  margin: 0 0 -5px;
}

#trainer .content {
  margin-bottom: 12px;
}